if SHIELD_EGGADA50_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Eggada50"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EGGADA50_LEFT || SHIELD_EGGADA50_RIGHT

config ZMK_SPLIT
    default y

endif

